<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade | Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="caixa-login">
        <h1 class="logo">Trade</h1>
        <div class="grupo">
            <label for="email">E-mail</label>
            <input id="email" type="text">
        </div>
        <div class="grupo">
            <label for="senha">Senha</label>
            <input id="senha" type="password">
        </div>
        <button id="btn-entrar" type="button">Entrar</button>
    </div>

    <script src="../js/login.js"></script>
</body>
</html>