<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/controle-usuarios.css">
</head>

<body>

  <header id="trade-header">
 
  </header>

  <main class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="titulo">Controle de usuários</h2>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button id="btn-adicionar-usuario" class="btn btn-primary">Adicionar usuário</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>E-mail</th>
              <th>Função</th>
              <th></th>
            </tr>
          </thead>

          <tbody>

          </tbody>
        </table>
      </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="modal-adicionar-usuario">
      <div class="modal-dialog">
        <div class="modal-content">

          <form action=""> 
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Adicionar usuário</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" required>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="sobrenome">Sobrenome</label>
                    <input type="text" class="form-control" id="sobrenome" required>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-7">
                  <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" required>
                  </div>
                </div>

                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="funcao">Função</label>
                    <select class="form-control" id="funcao" required>
                      <option>Administrador</option>
                      <option>Gerente</option>
                      <option>Vendedor</option>
                      <option>Caixa</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="observacao">Observação</label>
                    <textarea class="form-control" rows="4" id="observacao"></textarea>
                  </div>
                </div>
              </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button id="btn-salvar" type="button" class="btn btn-primary">Salvar</button>
              <button id="btn-cancelar" type="button" class="btn btn-outline-primary">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <script src="../js/base.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="../js/models/Usuario.js"></script>
  <script src="../js/api/usuario-api.js"></script>
  <script src="../js/controle-usuarios.js"></script>
</body>

</html>